@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pianopoli - Admin</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true">
    <script src="https://kit.fontawesome.com/c82fa94686.js" crossorigin="anonymous"></script>

    <!-- Toastr style -->
    <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="~/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.13.1/themes/flick/jquery-ui.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet" />


</head>
<body>

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <a href="/"> <img alt="image" src="~/images/logo.jpg" width="130" /></a>
                            </div>
                            <div class="logo-element">
                                ARJ+
                            </div>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Propostas</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="~/Propostas">Lista de Lotes</a></li>
                                <li><a href="~/Mapa">Mapa dos lotes</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Tabelas</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="#">Imobiliárias</a></li>
                                <li><a href="#">Corretores</a></li>
                                <li><a asp-area="" asp-controller="Tabelas" asp-action="Precos">Preços m2 *</a></li>
                            </ul>

                        </li>
                        <li>
                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Preços</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="#">Tabela de preços</a></li>
                            </ul>

                        </li>
                    </ul>

                }
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">

                        @*@* <li>
                        <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                        </a>
                        </li>*@
                        <partial name="_LoginPartial" />
                    </ul>

                </nav>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="pull-right">
                </div>
                <div>
                    <strong>Copyright</strong> ARJ Empreendimentos &copy; 2022
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>


    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script type="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/js/jquery.imagemapster.min.js" asp-append-version="true"></script>


    <script src="https://unpkg.com/sweetalert2@7.0.6/dist/sweetalert2.all.js"></script>
    <script src="~/js/jquery.blockui.min.js"></script>
    @*<script src="https://releases.jquery.com/git/jquery-migrate-git.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.0/jquery-migrate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.7.8/dist/index.bundle.min.js"></script>

    <script type="text/javascript" src="https://cdn.rawgit.com/plentz/jquery-maskmoney/master/dist/jquery.maskMoney.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>