@model ARJ.Pianopoli.Admin._6.Models.ErrorViewModel
@{
    ViewData["Title"] = @Model.Title;
}
<div class="container">
    <div style="padding-top: 200px; text-align: center">
        @{
            if (Model == null)
            {
                <h2>Infelizmente, um erro aconteceu. Não se preocupe, nosso time está olhando para este problema e resolvendo!</h2>
            }
            else
            {
                <h2>@Html.Raw(Model.Message)</h2>
            }
        }
    </div>
</div>