@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div style="margin: 100px 100px 0px 0px;color:darkgray;">
    <h1>MAZZA EMPREENDIMENTOS</h1>
    &nbsp;
    @if(!SignInManager.IsSignedIn(User))
    {
        <h4>Faça o Login com seu usuário e senha.</h4>
    }
    else
    {
        <h3>Seja bem vindo ao sistema de propostas!</h3>
    }

</div>
